@model BankSystem.Entities.BankAccount

@{
    ViewData["Title"] = "Create";
}
@section CSS {
    <link rel="stylesheet" type="text/css" href="~/css/Create.css" />
}

<div class="main-content">
    <div class="content-column">
        <p class="sign-in-title">Create your bank account</p>
        <form class="login-form" asp-action="Create">
            <p class="label">Enter sum</p>
            <div asp-validation-summary="ModelOnly" class="login-form__error"></div>
            <input asp-for="Balance" required class="login-form__input" placeholder="Balance...">
            <span asp-validation-for="Balance" class="login-form__error"></span>
            <p class="label-password">Choose currency</p>
            <select asp-for="Currency" name="Currency" class="login-form__input" id="currency">
                <option value="BYN">BYN</option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
            </select>
            <span asp-validation-for="Currency" class="login-form__error"></span>
            <button class="button-6" role="button" type="submit"><span class="material-icons">add</span>Create</button>
            <a class="link" asp-action="Index">Back to List</a>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
